body {
    width: 100%;
    text-align: center;
    margin: 0;
}

header h1,
header nav ul,
#container {
    max-width: 780px;
    margin: auto;
    text-align: left;
}

header {
    background-color: #eee;
}
header nav {
    background-color: white;
    border-bottom: 1px solid #eee;
}
header nav ul {
    padding: 0;
}
header nav ul li {
    display: inline;
}

#container {
    display: flex;
    display: -webkit-flex;
}

#container > nav {
    flex: 0 0 180px;
    -webkit-flex: 0 0 200px;
}
#container > main {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}

/* edit */
textarea[name=code] {
    width: 100%;
    height: 20em;
}
